---
- name: Run Backup first
  import_playbook: backup.yml

- name: run cli command (Multiple vendor supports)
  hosts: all
  gather_facts: no
  connection: network_cli

  tasks:  
    - name: run defined command from Extra variables
      cli_config:
        config: "{{ item }}"
      loop: "{{ config_cmds }}"
      when: 
        - config_cmds is defined
        - ansible_connection == 'network_cli'
      register: config_output

    - name: save config
      cli_command:
        command: >-
          {{
            {
              'ios': 'write memory',
              'nxos': 'copy running-config startup-config'
            }[ansible_network_os]
          }}
