---
- name: MD5 calculate
  vars:
   md5_commands:
     ios: "verify /md5 {{ firmware_filename }}"
     nxos: "show file {{ firmware_filename }} md5sum"
  cli_command:
   command: "{{ md5_commands[ansible_network_os] }}"
  register: md5_output

- name: Compare with official MD5
  assert:
    that:
      - md5 | lower in md5_output.stdout | lower
    fail_msg: |
      MD5 mismatch on {{ ansible_network_hostname | default(inventory_hostname) }}!
      Expected: {{ md5 }}
      Output: {{ md5_output.stdout }}
    success_msg: "MD5 verified on {{ ansible_network_hostname | default(inventory_hostname) }}"
