---
#- name: add SFTP server to inventory
#  add_host:
#    name: sftp_target  
#    ansible_host: "{{ sftp_host }}"
#    ansible_user: "{{ sftp_username }}"
#    ansible_ssh_pass: "{{ sftp_password }}"
#    ansible_connection: ssh
#    ansible_ssh_common_args: >
#      -o StrictHostKeyChecking=no
#      -o UserKnownHostsFile=/dev/null
- name: Store SFTP connection info
  set_fact:
    sftp_connection:
      host: "{{ sftp_host }}"
      user: "{{ sftp_username }}"
      password: "{{ sftp_password }}"
