---
- name: add SFTP server to inventory
  add_host:
    name: sftp_target  
    ansible_host: "{{ sftp_host }}"
    ansible_user: "{{ sftp_username }}"
    ansible_ssh_pass: "{{ sftp_password }}"
    ansible_connection: ssh
    ansible_ssh_common_args: >
      -o StrictHostKeyChecking=no
      -o UserKnownHostsFile=/dev/null
#---
#- name: Create backup folder on SFTP
#  file:
#    path: "{{ sftp_path }}/{{ timestamp_day }}"
#    state: directory
#  delegate_to: "{{ sftp_host }}"
#  vars:
#    ansible_user: "{{ sftp_username }}"
#    ansible_password: "{{ sftp_password }}"
#    ansible_connection: ssh
#    ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
#  run_once: true

#- name: Upload files
#  copy:
#    src: "/tmp/{{ filename }}"
#    dest: "{{ sftp_path }}/{{ timestamp_day }}/{{ filename }}"
#  delegate_to: "{{ sftp_host }}"
#  vars:
#    ansible_user: "{{ sftp_username }}"
#    ansible_password: "{{ sftp_password }}"
#    ansible_connection: ssh
