---
- name: Create backup folder
  ansible.builtin.file:
    path: "{{ sftp_path }}/{{ timestamp_day }}"
    state: directory
    mode: '0755'
delegate_to: sftp_target
run_once: true

- name: upload to SFTP server
  copy:
    src: "/tmp/tmpfiles/{{ filename }}"
    dest: "{{ sftp_path }}/{{ timestamp_day }}/{{ filename }}"
    mode: "0444"
delegate_to: sftp_target
