- name: Create backup folder
  ansible.builtin.file:
    path: "{{ sftp_path }}/{{ timestamp_day }}"
    state: directory
    mode: "755"
  copy:
    src: "/tmp/tmpfiles/{{ filename }}"
    dest: "{{ sftp_path }}/{{ timestamp_day }}/{{ filename }}"
    mode: "0444"
